/* prefix styling */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
}

body {
    font-family: system-ui;
    color: #fff;
    background-image: url('https://www.shutterstock.com/image-photo/digital-background-perfect-tech-processes-600nw-2496403005.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    overflow-x: hidden;
    transition: .4s linear;
}

img {
    max-width: 100%;
}

img,
button,
i {
    display: block;
}

button {
    outline: 0;
    border: 0;
    background: transparent;
    color: inherit;
}

main {
    display: grid;

    width: 360px;
    max-width: 360px;
    height: 100svh;

    background: rgba(55, 55, 55, .5);
    backdrop-filter: blur(5px);
}

/* base spacing */
.slider-body,
.control-wrapper {
    padding: 1.25rem;
}

.slider-wrapper {
    display: flex;
    overflow: hidden;
}

/* slider body */
.slider-body {
    display: grid;
    grid-template-columns: auto auto;
}

.slider-item {
    display: grid;
    min-width: 100%;
}

/* images */
.slider-img {
    grid-column: 1/-1;
    border-radius: .5rem;
    margin-bottom: .5rem;
}

/* title and text */
.slider-title {
    margin-bottom: .25rem;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: balance;
    grid-column: 1/-1;
}

.slider-author {
    font-size: 0.875rem;
    color: #e6e6e6;
}

.slider-tag {
    width: fit-content;
    margin-left: auto;
    padding: .25rem .5rem;
    font-size: 0.75rem;
    background: rgba(59, 59, 59, 0.151);
    backdrop-filter: blur(5px);
    border-radius: 100vw;
}

.slider-info {
    margin-top: .875rem;
    font-size: 0.875rem;
    grid-column: 1/-1;
}

/* socials */
.slider-social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: auto;

    font-size: 0.875rem;
    border-top: 1.5px solid #ffffff85;
    border-bottom: 1.5px solid #ffffff85;
}

.slider-social > * {
    flex: 1 1 0;
    text-align: center;
    padding-block: 1rem;
}

.slider-social p,
.slider-social i {
    transition: .3s linear;
}

.slider-social p:hover{
    scale: 1.2;
}

.heart-icon:hover i {
    color: red;
}

.comment-icon:hover i {
    color: rgb(27, 69, 146);
}

.share-icon:hover i {
    color: yellow;
}

/* ccontrols */
.control-wrapper {
    display: flex;
    gap: .5rem;
    margin-top: auto;
}

.btn {
    flex: 1 1 0;
    font-weight: 600;
    padding: .5rem .75rem;
    border-radius: 100vw;
    border: 1.5px solid #ffffff85;
}

/* larger screens */
@media (min-width: 24rem) {
    body {
        display: grid;
        place-items: center;
        min-height: 100svh;
    }

    main {
        height: auto;
        border-radius: .5rem;
        box-shadow: 4px 4px 14px rgba(100, 100, 100, 0.5);
    }
}