/* Add your CSS here */
:root {
    --clr-primario: hsl(224, 58%, 83%);
    --clr-primario-light: hsl(240, 53%, 97%, .2);
    --clr-primario-dark: hsl(254, 48%, 24%);
    --clr-primario-dark-dark: hsl(257, 59%, 49%);
    --clr-secundario: hsl(0, 0%, 100%);
    --clr-secundario-light: hsl(0, 0%, 100%, .4);
    --clr-accent-desktop: hsl(257, 64%, 58%);
    --clr-accent-mobile: hsl(286, 41%, 58%);
    --clr-accent-tablet: hsl(264, 18%, 72%);
    --clr-bg: hsl(246, 45%, 16%);
    --clr-bg-card: hsl(254, 100%, 4%, .5);
    --clr-bg-card-left: hsl(229, 38%, 10%, .2);
    --clr-bg-card-bottom-right: hsl(250, 8%, 24%, .5);
    --clr-border-card: hsl(0, 0%, 100%, .1);
    --clr-box-shadow: hsl(233, 29%, 13%, .5);
    --clr-box-shadow-border: hsl(233, 29%, 13%);
    --clr-box-shadow-elements: hsl(230, 38%, 40%, .8);
    --ff-primaria: "Poppins",
        sans-serif;
    --fs-primaria: 1rem;
    transition: all .400s ease-in-out;
}


/* Estilos Reset */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: var(--ff-primaria);
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

img,
svg {
    display: block;
    max-width: 100%;
}

body {
    line-height: 1.5;
}

a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    font: inherit;
    text-decoration: none;
    cursor: pointer;
}

button,
input {
    position: relative;
    appearance: none;
    background-color: transparent;
    color: inherit;
    font: inherit;
    border: none;
    cursor: pointer;
    z-index: 1;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(0, 0, 0 / .5);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--clr-accent-referral);
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

[hidden] {
    display: none;
}

/* utility classes */

.opacity-0 {
    opacity: 0;
}

.visibility-0 {
    visibility: hidden;
}

.pointer-events-none {
    pointer-events: none;
}

.translate-x-100 {
    transform: translateX(100%);
}

.-translate-x-100 {
    transform: translateX(-100%);
}

.translate-x-100vw {
    transform: translateX(100vw);
}

.-translate-x-100vw {
    transform: translateX(-100vw);
}

.translate-y-100vh {
    transform: translateY(100vh);
}

.-translate-y-100vh {
    transform: translateY(-100vh);
}

.translate-y-100 {
    transform: translateY(100%);
}

.-translate-y-100 {
    transform: translateY(-100%);
}

.scale-0 {
    transform: scale(0);
}

.scale-y-0 {
    transform: scaleY(0);
}

.-rotate-180 {
    transform: rotate(-180deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.invert-x {
    transform: scaleX(-1);
}

.invert-y {
    transform: scaleY(-1);
}


/* Estilos principales */
body {
    display: grid;
    place-content: center;
    min-height: 100dvh;
    background: var(--clr-bg);
    color: var(--clr-primario);
    font-size: var(--fs-primario);
    font-weight: 400;
    user-select: none;
    transition: all .400s ease-in-out;
    z-index: 1;
}

body:after {
    content: '';
    position: fixed;
    inset: 0;
    background-color: var(--clr-bg-card);
    background-image: url('https://i.imgur.com/GhXYliR.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    mask-image: linear-gradient(90deg, transparent 5%, black 95%, two),
        linear-gradient(180deg, transparent 5%, black 95%, transparent);
    opacity: .2;
    z-index: -1;
}

body:before {
    position: fixed;
    content: '';
    inset: 0;
    background-color: hsl(234, 29%, 82%);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: -1;
    transform: translate3d(0, 0, 0);
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: clamp(20rem, 100vw, 20rem);
    margin-block: 2rem;
    margin-inline: auto;
    transition: all .400s ease-in-out;
    z-index: 2;
}

.card {
    position: relative;
    display: flex;
    align-self: start;
    width: 100%;
    margin-inline-start: 0rem;
    background-color: var(--clr-bg-card);
    background: linear-gradient(129deg, hsl(244, 39%, 46%) 4%, var(--clr-bg-card-left) 50%, var(--clr-bg-card) 50%, hsl(257, 59%, 25%, .5) 100%);
    backdrop-filter: blur(5px);
    border: .1rem solid var(--clr-border-card);
    border-radius: 1rem;
    box-shadow: 0 0 10px hsl(257, 64%, 82%, .2), 0 0 0 10px var(--clr-box-shadow-border), 0px 0px 20px 5px var(--clr-box-shadow), inset 0 0 30px 1px hsl(244, 38%, 22%);
    transform: translateY(-100vh);
    transition: all .800s cubic-bezier(0, .88, .62, 1.17);
    overflow: hidden;
}


.card.initial--animation {
    transform: translateY(0);
}

.inner-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 1rem;
    font-weight: 300;
}

.chart-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.chart-graphic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12rem;
    margin-block-start: -2rem;
    margin-inline-start: -3.5rem;
    padding-block: 1rem;
    will-change: height;
    transition: height .400s ease-in-out;
}

canvas {
    flex-shrink: 0;
    flex-grow: 0;
    overflow: visible;
}

.chart-graphic>p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8rem;
    font-weight: 300;
    transform-origin: center;
    will-change: opacity;
    transition: opacity .400s .500s ease-in-out, transform .400s cubic-bezier(0, .88, .62, 1.17);
    z-index: -2;
}

.chart-graphic>p.p--active {
    transform: translate(-50%, -50%) scale(1);
}

.legend-list {
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-block: 1rem;
    margin-inline-end: -1rem;
    list-style: none;
    transition: all .400s ease-in-out;
}

.legend-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    transform: translateX(2rem);
    opacity: 0;
    transition: all .400s ease-in-out;
}

.legend-item.legend-item--active {
    transform: translateX(0);
    opacity: 1;
}

.legend-item:nth-child(2) {
    margin-inline-start: -7rem;
}

.legend-item:nth-child(3) {
    margin-inline-start: -14rem;
}

.legend-item-left {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.legend-item>p {
    font-size: 1.2rem;
    font-weight: 600;
    transition: all .250s ease-in-out;
}

.legend-item>p.change--active {
    transform: scale(0);
}


.circle {
    flex-shrink: 0;
    width: .6rem;
    aspect-ratio: 1;
    background-color: var(--bg-circle);
    border-radius: 50%;
    --bg-circle: var(--clr-accent-desktop);
}

.legend-item:nth-child(2) .circle {
    --bg-circle: var(--clr-accent-mobile);
}

.legend-item:nth-child(3) .circle {
    --bg-circle: var(--clr-accent-tablet);
}



.dropdown {
    position: absolute;
    top: -4rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 8rem;
    transform: translateY(-100vh);
    transition: all .400s ease-in-out, transform .800s cubic-bezier(0, .88, .62, 1.17);
    z-index: 5;
}

.dropdown.initial--animation {
    transform: translateY(0);
}

.dropdown.dropdown--open {
    grid-template-rows: auto 10rem;
}

.dropdown-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-block: .2rem;
    padding-inline: .5rem;
    background-color: var(--clr-bg-card);
    background: linear-gradient(135deg, var(--clr-bg-card-left) 50%, var(--clr-bg-card) 50%);
    color: var(--clr-primario);
    font-size: .8rem;
    font-weight: 600;
    border-radius: .3rem;
    backdrop-filter: blur(5px);
    border: .1rem solid var(--clr-border-card);
    box-shadow: 0 0 0 5px var(--clr-box-shadow-border), 0px 0px 20px 5px var(--clr-box-shadow), inset 0 0 30px 1px var(--clr-box-shadow);
    outline: 1px solid transparent;
    transition: all .400s ease-in-out;
}

.dropdown-btn:hover,
.dropdown.dropdown--open .dropdown-btn {
    background-color: var(--clr-primario-light);
}

.dropdown-btn:focus {
    outline: 1px solid var(--clr-primario);
}

.dropdown-btn svg {
    width: 1.2rem;
    stroke: var(--clr-primario);
    transform: rotate(0deg);
    transition: all .400s ease-in-out;
}

.dropdown.dropdown--open .dropdown-btn svg {
    width: 1.2rem;
    stroke: var(--clr-primario);
    transform: rotate(180deg);
}

.dropdown-list {
    position: absolute;
    top: 2.2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    list-style: none;
    font-size: .8rem;
    background-color: var(--clr-bg-card);
    border-radius: .5rem;
    box-shadow: 0 10px 20px 5px var(--clr-box-shadow);
    transition: all .400s ease-in-out;
    overflow: hidden;
    z-index: 99;
}

.dropdown.dropdown--open .dropdown-list {
    max-height: 10rem;
}

.dropdown-item {
    position: relative;
    width: 100%;
    z-index: 1;
}

.dropdown-item>a {
    display: flex;
    width: 100%;
    padding-block: .4rem;
    padding-inline: .5rem;
    color: var(--clr-secundario-light);
}

.dropdown-item.dropdown-item--active>a,
.dropdown-item:hover>a {
    color: var(--clr-secundario);
}

.dropdown-item:before,
.dropdown-item:after {
    content: '';
    position: absolute;
    inset: .2rem;
    width: 0%;
    border-radius: .3rem;
    background: var(--clr-primario-dark);
    transition: all .250s ease-in-out;
    z-index: -1;
}

.dropdown-item:after {
    background: var(--clr-primario-dark-dark);
}

.dropdown-item:not(.dropdown-item.dropdown-item--active):hover:before {
    width: calc(100% - .4rem);
}

.dropdown-item.dropdown-item--active:after {
    width: calc(100% - .4rem);
}

@media (max-width: 40rem) {
    body:after {
        background-size: cover;
    }

}