*, 
*:before, 
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

nav ul li a {
    text-decoration: none;
    padding-bottom: 2px;
    transition: all 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    text-decoration: underline solid #7e22ce 5px;
    text-underline-offset: 5px;
}
.button{
    transition: all 0.3s ease;
}
